#!/bin/bash
if [[ $(virsh list | grep win10) != "" ]]
  then
    vm=win10
fi

sudo virsh detach-device $vm {{dotfiles_user_home}}/.local/share/vm/mouse.xml
sudo virsh detach-device $vm {{dotfiles_user_home}}/.local/share/vm/keyboard.xml
sudo virsh detach-device $vm {{dotfiles_user_home}}/.local/share/vm/webcam.xml
sudo virsh detach-device $vm {{dotfiles_user_home}}/.local/share/vm/solokey.xml
