@import "/home/jb/.cache/wal/colors-waybar.css";

* {
    border-radius: 0;
    font-family: "Source Code Pro";
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: @background;
    color: @foreground;
}

#workspaces button {
    padding: 5px;
    background: transparent;
    color: @foreground;
}

#workspaces button.focused {
    background: @foreground;
    color: @color0;
}

#mode, #clock, #battery {
    padding: 0 10px;
}

#mode {
    color: @color3;
}

#clock,
#battery,
#battery.charging {
    color: @foreground;
}

@keyframes blink {
    to {
        background-color: @foreground;
        color: @background;
    }
}

#custom-pacman, #idleinhibitor, #mpd, #cpu, #memory, #network, #battery, #clock, #tray {
     padding: 0 10px;
}

#battery.warning:not(.charging) {
    color: @color3;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

