window {
    border: 2px solid #ccc;
    background-color: #333333; 
}

#input {
    border: 2px solid black;
    background-color: #555555; 
    font-size: 14px;
}

#outer-box {
    margin: 10px;
}

#scroll {
    margin: 5px 0;
    padding: 5px;
    font-size: 12px;
    color: #ccc;
}

#scroll label {
    margin: 2px 0;
    padding: 5px;
}
