[user]
  email = {{ full_name }}
  name = {{ git_email }}

[credential]
  helper = /usr/lib/git-core/git-credential-libsecret

[alias]
  s = status
  a = add
  p = push
  c = commit

[core]
editor = vim
