window {{
    border: 2px solid {color3};
    background-color: {background}; 
}}

#input {{
    border: 2px solid {color4};
    background-color: {background}; 
    font-size: 18px;
}}

#outer-box {{
    margin: 10px;
}}

#scroll {{
    margin: 5px 0px;
    padding: 5px;
    font-size: 16px;
    color: {foreground};
}}

#scroll label {{
    padding: 5px;
    margin: 2px 0px;
}}
